<div class="row">
  <div class="col-sm-12">
    <app-card >
      <div class="form-group row">
        <div class="col-sm-12">
          <h6>Question<sup>*</sup></h6>
          <input type="text" class="form-control" name="question" [(ngModel)]="addFaq.question"
            required placeholder="Enter Question">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <h6>Answer<sup>*</sup></h6>
          <p-editor [placeholder]="'Enter Answer'" name="answer" [(ngModel)]="addFaq.answer"
             [style]="{'height':'320px'}">
            <p-header>
              <span class="ql-formats">
                <select class="ql-size"></select>
                <select class="ql-font"></select>
              </span>

              <span class="ql-formats">
                <button class="ql-bold"></button>
                <button class="ql-italic"></button>
                <button class="ql-underline"></button>
                <button class="ql-strike"></button>
              </span>

              <span class="ql-formats">
                <button class="ql-list" value="ordered"></button>
                <button class="ql-list" value="bullet"></button>
              </span>

              <span class="ql-formats">
                <select class="ql-align">
                  <option selected></option>
                  <option value="center"></option>
                  <option value="right"></option>
                  <option value="justify"></option>
                </select>
              </span>

              <span class="ql-formats">
                <select class="ql-color" [title]="'Char color'">
                </select>
                <select class="ql-background" [title]="'Bg color'">
                </select>
              </span>
              <span class="ql-formats">
                <!-- <button class="ql-link"></button> -->
                <button class="ql-code-block"></button>
              </span>
              <span class="ql-formats">
                <button class="ql-clean"></button>
              </span>
            </p-header>
          </p-editor>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <h6>Language<sup>*</sup></h6>

          <select class="form-control" title="Add Language" name="Language" [(ngModel)]="addFaq.language_code"
            id="language">
            <option value="">Select Language</option>
            <option value="en">English</option>
            <option value="he">Hebrew </option>
            <option value="es">Spanish</option>
            <option value="fr">French</option>
            <option value="it">Italian </option>
          </select>
          </div>
    </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <button type="submit" title="save" (click)="saveFaq()"
            class="btn btn-primary btn-right">Save</button>&nbsp;
          <button type="submit" title="Cancel" (click)="cancelFaq()" class="btn btn-danger btn-right">Cancel</button>
        </div>
      </div>
    </app-card>
  </div>
</div>