.card-body{
    padding-left:0px !important; 
    padding-right:0px !important; 
}
.swal-wide{
    width:1000px !important;
}
.center_table{
    padding-left:0px !important; 
    padding-right:0px !important;
}

