
<div class="row">
    <div class="col-sm-4">
      <input #gb type="text" class="form-control text1" placeholder="Global search">
    </div>
  
  </div><br>
  
  <div class="row">
    <div class="col-sm-12">
      <app-card [title]="'Favourite Users List'"  [classHeader]="true" [blockClass]="'table-border-style'">
        <div class="table-responsive">
          <p-dataTable #dt [value]="users" [rows]="10" [tableStyle]="{'table-layout':'auto'}" [paginator]="true" [pageLinks]="3" [globalFilter]="gb">
            <p-column *ngIf="dt.isEmpty()" header="No records found"></p-column>
            <p-column header="Sr.No." *ngIf="!dt.isEmpty()" [style]="{width:'20%','text-align':'center'}">
              <ng-template let-i="rowIndex" pTemplate="body">
                {{i+1}}
              </ng-template>
            </p-column>
            <p-column field="name" *ngIf="!dt.isEmpty()"header=" User Name" [sortable]="true" [style]="{width:'30%'}"></p-column>
            <p-column field="email"  *ngIf="!dt.isEmpty()"  header="Email" [style]="{width:'30%'}" > </p-column>
          
            <p-column header="Favourite New PleinAir Location" *ngIf="!dt.isEmpty()" [style]="{'text-align':'center'}">
                <ng-template let-user="rowData" let-i="rowIndex" pTemplate="body">
                  <a class="edit_icon" href="javascript:;" (click)="GetFavouritepop(user._id)" title="View Favourite Scenic Location">
                    <button _ngcontent-c11="" class="btn btn-delete btn-primary"[style]="{width:'20%','text-align':'center'}"type="button">
                      <i _ngcontent-c11="" class="fa fa-heart" ></i>
                    </button>
                  </a>&nbsp;
           </ng-template>
           </p-column>
          </p-dataTable>
        </div>
      </app-card>
    </div>
  </div>
  