aside.pcoded-slider.ng-sidebar {
  top: 56px;
}

.slimscroll-wrapper, .scroll-window {
  width: 100% !important;
}

body .ui-calendar.ui-calendar-w-btn .ui-datepicker-trigger.ui-button {
  height: 35px;
}

.userlist-box {
  &.show {
    display: -webkit-box;
  }
  &.hide {
    display: none;
  }
}
